*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    background:linear-gradient(135deg,#153677,#4e085f);
    height:100vh;
    width:100%; 
    padding:10px;
}

img{
    height:40px;
    width:40px;
    margin-left:10px;

}

.todo-app{
   width:100%;
   max-width:540px;
   padding:40px 30px 70px;
   margin:100px auto 20px;
   background:#fff;
   border-radius:10px;
}

.todo-app h2{
    display:flex;
    align-items:center;
    color:#002765;
    margin-bottom:20px;
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#edeef0;
    border-radius:30px;
    padding-left:20px ;
    margin-bottom:20px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
}

button{
    border:none;
    outline:none;
    background:#ff5945;
    border-radius:40px;
    padding:10px;
    color:white;
    cursor:pointer;
    font-size:16px;
}
 
li {
  display: flex;                 
  align-items: center;          
  justify-content: space-between;
  border: 2px solid rgb(241, 238, 238);
  border-radius: 30px;
  padding: 0 2px 0 10px;              
  height: 45px; 
   margin-bottom:3px;
   cursor:pointer;
    box-sizing: border-box; 
    font-size:16px;       
}
